@import "tailwindcss";

body {
  background-color: black;
}
.hr-with-dot {
  position: relative;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(228,100,0), transparent);
  border: none;
  margin: 40px auto;
  margin-bottom: 20px;
  width: 90%;
}
.scroll-hide {
  scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none; 
}